
body {
    display: block !important;
    min-width: 100% !important;
}
:root {
    --main-background: #f3f4f6;
    --main-color: #009f7f;
    --body-color: #222222;
    --bg-gray: #F3F4F6;
}
#root,
#root *,
#root *:before,
#root *:after {
    box-sizing: border-box;
}
.responsive_image {
    max-width: 100%;
    height: auto;
}
p {
    margin: 0;
}
